.makeSortable {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border:rgb(4, 4, 110) 0.125rem solid;
    padding: 10px;
    border-radius: 5px;

    .indicator {
       
        border: rgb(189, 22, 22) 2px  dashed;
        transition: width 0.25s ease-in-out;
        transform-origin: center;
        animation: grow 0.2s ease-in-out;
        // z-index: -10;
    }
}

@keyframes grow {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}